<template>
  <div id="app">
    <md-card>
      <md-card-header>
        <div class="md-title">
          Material Design using Vue.js 2
        </div>
        <div class="md-subhead">
                  Marco Amodio // marticvs.it
        </div>
      </md-card-header>

      <md-card-content>
        <md-button class="md-raised md-primary" v-on:click.native="fillTable()">Fill Table</md-button>
        <md-button class="md-raised md-primary" v-on:click.native="clearTable()">Clear Table</md-button>
      </md-card-content>

      <md-table>
        <md-table-header>
          <md-table-row>
            <md-table-head>First Name</md-table-head>
            <md-table-head>Last Name</md-table-head>
            <md-table-head>Email</md-table-head>
            <md-table-head>Country</md-table-head>
          </md-table-row>
        </md-table-header>
        <md-table-body>
          <md-table-row v-for="contact in contacts" :key="">
            <md-table-cell>{{contact.firstname}}</md-table-cell>
            <md-table-cell>{{contact.lastname}}</md-table-cell>
            <md-table-cell>{{contact.email}}</md-table-cell>
            <md-table-cell>{{contact.country}}</md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>
    </md-card>
  </div>
</template>

<script>
export default {
    name: 'app',
    data: function () {
      return {
        contacts: []
      }
    },
    methods: {
      fillTable: function() {
        this.contacts.push({firstname: 'Marco', lastname: 'Amodio', email: 'marticvs@mail.com', country: 'Italy'});
        this.contacts.push({firstname: 'Vincenzo', lastname: 'Capasso', email: 'vincenzo@mail.com', country: 'Italy'});
        this.contacts.push({firstname: 'Josh', lastname: 'Gosline', email: 'gosline@mail.com', country: 'United States'});
      },
      clearTable: function() {
        this.contacts.splice(0, this.contacts.length);  
      }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
